exportPattern("^[[:alpha:]]+")
import(caret)
import(mgcv)
import(Matrix)
import(functional)
import(matrixcalc)
import(mvtnorm)
import(numDeriv)
S3method(plot, discSurvAdjDevResid)
S3method(plot, discSurvAucUno)
S3method(plot, discSurvFprUno)
S3method(plot, discSurvMartingaleResid)
S3method(plot, discSurvTprUno)
S3method(print, discSurvAdjDevResid)
S3method(print, discSurvAucUno)
S3method(print, discSurvConcorIndex)
S3method(print, discSurvDevResid)
S3method(print, discSurvFprUno)
S3method(print, discSurvLifeTable)
S3method(print, discSurvMartingaleResid)
S3method(print, discSurvPredErrDisc)
S3method(print, discSurvSimCompRisk)
S3method(print, discSurvTprUno)
S3method(summary, discSurvConcorIndex)
S3method(summary, discSurvPredErrDisc)
